:root {
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #2F303A;
    --background-color-other: #F5F4FA;
    --text-color-primary: #757575;
    --text-color-secondary: #212121;
    --accent-color-primary: #2196F3;
    --accent-color-secondary: #FFFFFF;
    --accent-color-other: #000000;
    --active-color-primary: #188CE8;
}
body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
}
/* header style */
.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color-primary);
}
.logo-second-color {
    color: var(--accent-color-other);
}
/* site-nav */
.site-nav a {

}
.site-nav .link {
    color:var(--text-color-secondary);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color-primary);
}
.contact-list {

}
.site-nav .current {
    color: var(--accent-color-primary);
}
.hero {
        background-color: #2F303A;
        color: #FFFFFF;
}
.hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button-call {
    color: var(--accent-color-secondary);
    background-color: var(--accent-color-primary);
    
}
.button-call:active {
    background-color: var(--active-color-primary);
}
.section-title {
    color: var(--text-color-secondary);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}
.features-title {
    color: var(--text-color-secondary);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-text {
    font-size: 14px;
    line-height: 24px;
}
.team {
    background-color: var(--background-color-other);
}
.team-list {
    background-color: var(--background-color-primary);
}
.team-title {
    color: var(--text-color-secondary);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.team-text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}